#top_ban{
	position: fixed;
	top:0;
	background:red;
	display: flex;
	justify-content: center;
	align-items: center;
	height:100px;
	width:100%;
}

#bottom_ban{
	margin-top: 110px;
	background: green;
	display: flex;
	justify-content: center;
	width:100%;
	height: 90%;
}

#list_vols{
	background: pink;
	display: flex;
	flex-direction: column;
	align-items: center;
	height:1000px;
	width: 90%;
}

#vol{
	background: yellow;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width:90%;
	height:50px;
}