<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../style/index.css">
	<link rel="stylesheet" type="text/css" href="../style/top_ban.css">
	<title>Air Barre Barre</title>
</head>
<body >
	<div id="top_ban"></div>

	<div id="bottom_ban">
		<table id="list_vols">
			<thead id="head_list_vols"></thead>
			<tbody id="list_voyages"></tbody>
		</table>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"></script>
<script type="text/javascript" src="../javascript/include.js"></script>
<script type="text/javascript" src="../API/classes.js"></script>
<script type="text/javascript" src="../javascript/users.js"></script>
<script type="text/javascript">
	console.log(user.voyages);
</script>
</html>
